<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>eData</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>eData uses Face ID to authorize secure wallet transactions and verify your PIN-protected operations.</string>
	<key>NSContactsUsageDescription</key>
	<string>eData requires access to your contacts so you can easily choose recipients for Airtime, Data, and VTU purchases.</string>
	<key>NSCameraUsageDescription</key>
	<string>eData requires access to the camera to allow you to take and upload a profile picture and KYC verification documents.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>eData requires access to your photo library to select a profile avatar and transaction documents.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>eData requires access to save your transaction receipts and invoices to your photo library.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.eDATA.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edata</string>
				<string>com.eDATA.app</string>
				<string>com.googleusercontent.apps.452311037053-nqv6g7b0jhn0iv703jed97fbuhf1n14v</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
